@model interview.test.ensek.Core.Contracts.ImportResultDto;

﻿<h1>Buffered File Upload</h1>

<hr />

<div>
    <form asp-route="FileUploader/Index" enctype="multipart/form-data" method="POST">
        <input type="file" name="file" />
        <button type="submit">Upload File</button>
    </form>
</div>

    <div class="alert" style="margin-top:20px">
        Successful = @Model.successfulCount
        Unsuccessful = @Model.unsuccessfulCount

    </div>
